:root {
  --branding-color: #8c0909;
  --secondary-color: #ffcfcf;
}

h1 {
  color: var(--branding-color);
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
img {
  width: 500px;
  border-radius: 10px;
}
.delegate-name {
  text-align: center;
  margin-top: 15px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-danger {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 60px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}
.delegate-description {
  font-size: 13px;
  border: 5px solid var(--secondary-color);
  border-radius: 5px;
  padding: 7px;
}
.delegate-img {
  width: 270px;
  height: 270px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
